<center>
<h1>:: The Hair Salon ::</h1>
<br>
<h3>Welcome to the main portal. Here you can add, edit, update and delete your stylists and clients to help you manage your salon.</h2>
<br>
<hr>
<center>
  <div class="container">
    <a href="/stylists"><button class="btn-danger">View All Stylists</button></a>
    <a href="/stylists/new"><button class="btn-danger">Add New Stylist</button></a>
    </div>
  </center>
</center>
