<center><h1>The Hair Salon :: Add a Stylist</h1>
<br>

<h4>
<form action = "/stylists" method = "post">

<label for="stylist">Add Stylist</label>
<input id="name" name="name" type="text" placeholder="i.e. Jennifer Skywalker">
<input id="phone" name="phone" type="phone" placeholder="i.e. 5032225555">

<button name="button" class="btn-success">Go</button>
</form>
</h4>
<hr>

  <div class="container">
    <a href="/"><button class="btn-danger">Home</button></a>
    <a href="/stylists"><button class="btn-danger">View All Stylists</button></a>
    <a href="/stylists/new"><button class="btn-danger">Add New Client</button></a>
    </div>
  </center>
