<center>
  <h1>The Hair Salon :: Your Stylists</h1>

<br>
<h2>
  Click on your stylist name below to view their information.
<br>
<br>
<% if @stylists.any?() %>
<ul>
  <% @stylists.each() do |stylist| %>
  <ol><a href="/stylists/<%= stylist.id()%>"><%= stylist.name() %></a> </ol>
  <% end %>
</ul>

<% else %>

<p>There are no stylists in the system.. yet!</p>

<% end %>
</h2>
</center>

<hr>
<center>
  <div class="container">
    <a href="/"><button class="btn-danger">Home</button></a>
    <a href="/stylists/new"><button class="btn-danger">Add New Stylist</button></a>
  </div>
</center>
