<form action = "/stylists" method = "post">


<label for="stylist">Add Stylist</label>
<input id="name" name="name" type="text">
<input id="phone" name="phone" type="phone">

<button name="button">Go</button>
</form>
