<center><h1>The Hair Salon :: Success</h1> <br>

<h3>
Your changes have been saved to the system.
</h3>

<hr>
<center>
<div class="container">
  <a href="/"><button class="btn-danger">Home</button></a>
  <a href="/stylists"><button class="btn-danger">View All Stylists</button></a>
  <a href="/stylists/new"><button class="btn-danger">Add New Stylist</button></a>
  </div>
</center>
